AppAsignacionPC/Service References/ServiceColaborador/Colaboradores3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_AsignacionPCs.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_AsignacionPCs.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RepetidoExcepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoExcepcion" nillable="true" type="tns:RepetidoExcepcion" />
  <xs:complexType name="RepetidoExcepcion2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoExcepcion2" nillable="true" type="tns:RepetidoExcepcion2" />
</xs:schema>